* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'PT Sans', sans-serif; */
}

body {
  background-color: rgb(228, 228, 228);
}

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.Searchbar {
  text-align: center;
  margin-top: 3%;
}

.HomeCentering {
  margin: 10px;
}
/* Navbar Gradient */
/* background: linear-gradient(90deg, rgb(184, 29, 29) 0%, rgb(26, 23, 23) 100%); */

/* Login Gradient (login backwards) */
/* background: linear-gradient(90deg, rgb(26, 23, 23)0%, rgb(184, 29, 29)  100%); */

/* Add to collection */
/* background: linear-gradient(90deg, rgb(26, 23, 23)0%, rgb(22, 153, 87)  100%); */

.bnt-figure{
  color: white;
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
}
.btn-figure-reverseNav{
  background: linear-gradient(90deg, rgb(26, 23, 23)0%, rgb(184, 29, 29)  100%);
}
.btn-figure-add{
  background: linear-gradient(90deg, rgb(26, 23, 23)0%, rgb(12 165 80)  100%);
}

.btn-figure:hover{
  color: white;
  transform: scale(1.1);
  transition: all 0.2s ease-out;
}